/* .gradient {
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(130deg, #0f0c29, #302b63, #24243e);
  background-size: 600% 600%;
  animation: gradientShift 60s ease infinite;
  z-index: -1;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
   */
/* ------------------ */
/* 
.gradient {
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(130deg, #1b003d, #4c1b80, #0f052c);
  background-size: 400% 400%;
  animation: gradientShift 30s ease infinite;
  z-index: -1;
  filter: brightness(1.1) blur(1px);
  opacity: 0.8;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

.gradient {
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(130deg, #1a1b3d, #0b0c2a, #1a1b3d);
  background-size: 300% 300%;
  animation: gradientShift 45s ease infinite;
  z-index: -1;
  filter: brightness(1.05) blur(1px);
  opacity: 0.9;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
