.container {
  max-width: var(--max-width);
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.cover {
  max-width: 250px;
  border-radius: var(--radius);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info {
  flex: 1;
}

.author {
  font-style: italic;
  color: gray;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    align-items: flex-start;
  }
}
